body {
  background-color: #002000;
}

/* old background at ivback.jpg */
/* I honestly thought it looked knida garrish */
/* new edit because i'm scared the first didn't exactly work */

img {
  display: block;
  margin: auto;
}

/* probablyananswerforafuturelevel.htm */
