body {
  background-color: #002000;
}

/* old background at ivback.jpg */
/* I honestly thought it looked knida garrish */

img {
  display: block;
  margin: auto;
}

/* probablyananswerforafuturelevel.htm */
